body {
    background-color: #0033CC;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
        }

.mediator_first {
    width:300px;
    height: 300px;
    border: 5px solid white;
    border-radius: 60% 40% 20% 80% / 54% 80% 20% 46%; 
}

.mediator-1,
.mediator-1::before,
.mediator-1::after {
    width:  100px;
    height: 5px;
    background-color: rgb(0,195,255);
    border-radius: 115px;
    box-shadow: 0 0 0 50px rgb(0,195,255);
    transform-origin: center center;
    transform: rotate(20deg);
    position: absolute;
    z-index: index 1;
    }

.mediator-1 {
    position:relative;
}

.mediator-1::before,
.mediator-1::after {
    content: "";
    position: absolute;
    top: -42px;
}


.mediator-1::before {
left:-24px;
transform-origin: center center;
transform: rotate(-60deg);
}

.mediator-1::after {
right:-24px;
transform-origin:center center;
transform: rotate(60deg);
}

.mediator-2,
.mediator-2::before,
.mediator-2::after {
    width:  100px;
    height: 5px;
    background-color: rgb(0,16,49);
    border-radius:100px;
    box-shadow: 0 0 0 42px rgb(0,16,49);
    transform-origin:center center;
    transform: s
    top: -5px;
    right: 6px;
    position:absolute;
    z-index:index 2;
    }

.mediator-2 {
    position:relative;
}

.mediator-2::before,
.mediator-2::after {
    content:"";
    position: absolute;
    top:-45px;
}


.mediator-2::before {
left:-24px;
transform-origin:center center;
transform: rotate(-60deg);
}

.mediator-2::after {
right:-24px;
transform-origin:center center;
transform: rotate(60deg);
}

.lines,
.lines::before,
.lines::after {
    width:50px;
    height: 3px;
    background-color:rgb(0,195,255);
}

.lines {
    display:flex;
    justify-content: center;
    align-items:center;
    position:absolute;
    transform-origin:center center;
    width:65px;
    height:3px;
    left: 765px;
    transform: rotate(-35deg);
}

.lines::before,
.lines::after {
    content:"";
    position: absolute;
    top:-45px;
}

.lines::before {
    width:40px;
    top: 8px;
    left: 10px;
    transform-origin:center center;
    transform: rotate(-12deg);
}

.lines::after {
    width: 23px;
    top: 20px;
    left:7px;
    transform-origin:center center;
    transform: rotate(-40deg);
}

.jet-1 {
    position:relative;
    width: 30px;
    border-top: 5px solid white;
    top: -65px;
}

.jet-2 {
    position:absolute;
    width: 40px;
    border-right: 5px solid grey;
}

/* .mediator_second {
    position:absolute;
    width:280px;
    height: 280px;
    background-color: rgb(0,16,49);
    border-radius: 60% 40% 20% 80% / 54% 80% 20% 46%;
    border-radius: 60% 50% 30% 80% / 55% 80% 30% 60%; // первый
    border-radius: 60% 50% 30% 80% / 55% 80% 30% 60%;//  второй
    transform: rotate(-170deg); 
} */