body {
  background-color: #0033cc;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container {
  height: 280px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediator_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediator_container:hover {
  filter: drop-shadow(0px 0px 15px rgb(0, 195, 255));
  transition: 0.7s;
}

.mediator_light {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(20deg);
}

.mediator_light_first {
  content: '';
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: rgb(0, 195, 255);
  border-radius: 115px;
  box-shadow: 0 0 0 50px rgb(0, 195, 255);
}

.mediator_light_second {
  content: '';
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: rgb(0, 195, 255);
  border-radius: 115px;
  box-shadow: 0 0 0 50px rgb(0, 195, 255);
  transform: rotate(60deg);
  top: -43px;
  left: -25px;
}

.mediator_light_third {
  content: '';
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: rgb(0, 195, 255);
  border-radius: 115px;
  box-shadow: 0 0 0 50px rgb(0, 195, 255);
  transform: rotate(-60deg);
  top: -44px;
  left: -74px;
}

.mediator_dark {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(90%) rotate(28deg);
}

.mediator_dark_first {
  content: '';
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: rgb(0, 16, 49);
  border-radius: 115px;
  box-shadow: 0 0 0 50px rgb(0, 16, 49);
}

.mediator_dark_second {
  content: '';
  position: relative;
  width: 100px;
  height: 5px;
  background-color: rgb(0, 16, 49);
  border-radius: 115px;
  box-shadow: 0 0 0 50px rgb(0, 16, 49);
  transform: rotate(60deg);
  top: -43px;
  left: 75px;
}

.mediator_dark_third {
  content: '';
  position: relative;
  width: 100px;
  height: 5px;
  background-color: rgb(0, 16, 49);
  border-radius: 115px;
  box-shadow: 0 0 0 50px rgb(0, 16, 49);
  transform: rotate(-60deg);
  top: -44px;
  left: -74px;
}

.jet_container {
  position: relative;
  top: -290px;
  left: -270px;
  transform: skew(-20deg) scale(1.1);
}

.jet_j {
  position: absolute;
  top: 210px;
  left: 180px;
  transform: scale(250%);
}

.jet_j_first {
  width: 7px;
  height: 5px;
  position: relative;
  top: 6px;
  left: 0px;
  border-top: 4px solid white;
}
.jet_j_second {
  width: 3px;
  height: 3px;
  position: relative;
  top: 0px;
  left: 0px;
  border-right: 4px solid white;
}
.jet_j_third {
  width: 3px;
  height: 10px;
  position: relative;
  top: 0px;
  left: -px;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-radius: 0 0 5px 0;
}

.jet_e {
  position: absolute;
  transform: scale(190%);
  top: 222px;
  left: 178px;
}

.jet_e_first {
  width: 6px;
  height: 5px;
  position: relative;
  top: 9px;
  left: 20px;
  border-top: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-radius: 0 20px 0 0;
}

.jet_e_second {
  width: 6px;
  height: 11px;
  position: relative;
  top: -4px;
  left: 12px;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  border-radius: 10px 0 0 10px;
}

.jet_e_third {
  width: 13px;
  height: 6px;
  position: relative;
  top: -14px;
  left: 19px;
  border-bottom: 4px solid white;
}

.jet_t {
  position: absolute;
  transform: scale(200%);
  top: 215px;
  left: 240px;
}

.jet_t_first {
  width: 5px;
  height: 20px;
  position: relative;
  top: 14px;
  left: -1px;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  border-radius: 0 0 0 4px;
}

.jet_t_second {
  width: 6px;
  height: 20px;
  position: relative;
  top: 0px;
  left: 1px;
  border-top: 4px solid white;
}

.lines_container {
  position: relative;
  top: 35px;
  left: 40px;
}

.line_first {
  width: 66px;
  height: 20px;
  position: relative;
  border-top: 5px solid rgb(0, 195, 255);
  top: 0;
  left: 0;
  transform: rotate(-27deg);
}

.line_second {
  width: 40px;
  height: 20px;
  position: relative;
  border-top: 5px solid rgb(0, 195, 255);
  top: -18px;
  left: 20px;
  transform: rotate(-43deg);
}

.line_third {
  width: 23px;
  height: 20px;
  position: relative;
  border-top: 5px solid rgb(0, 195, 255);
  top: -29px;
  left: 24px;
  transform: rotate(-63deg);
}
