body {
    background-color: #0033CC;
}

.main_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mediator_container {
    width:100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.mediator_light {
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: rotate(20deg);   
}

.mediator_light_first {
    content:"";
    position:absolute;
    width:  100px;
    height: 5px;
    background-color: rgb(0,195,255);
    border-radius: 115px;
    box-shadow: 0 0 0 50px rgb(0,195,255);
}

.mediator_light_second {
    content:"";
    position:absolute;
    width:  100px;
    height: 5px;
    background-color: rgb(0,195,255);
    border-radius: 115px;
    box-shadow: 0 0 0 50px rgb(0, 195, 255);
    transform:rotate(60deg);
    top:-43px;
    left: -25px;
}

.mediator_light_third {
    content:"";
    position:absolute;
    width:  100px;
    height: 5px;
    background-color: rgb(0,195,255);
    border-radius: 115px;
    box-shadow: 0 0 0 50px rgb(0, 195, 255);
    transform:rotate(-60deg);
    top:-44px;
    left: -74px;
}

.mediator_dark {
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    transform:rotate(30deg);
}

.mediator_dark_first {
    content:"";
    position:absolute;
    width:  100px;
    height: 5px;
    background-color: rgb(0,16,49);
    border-radius: 115px;
    box-shadow: 0 0 0 50px rgb(0,16,49);
}

.mediator_dark_second {
    content:"";
    position:relative;
    width:  100px;
    height: 5px;
    background-color: rgb(0,16,49);
    border-radius: 115px;
    box-shadow: 0 0 0 50px rgb(0, 16, 49);
    transform:rotate(60deg);
    top: -43px;
    left: 75px;
}

.mediator_dark_third {
    content:"";
    position:relative;
    width:  100px;
    height: 5px;
    background-color: rgb(0,16,49);
    border-radius: 115px;
    box-shadow: 0 0 0 50px rgb(0, 16, 49);
    transform:rotate(-60deg);
    top:-44px;
    left: -74px;
}

/* .mediator_second {
    position:absolute;
    width:280px;
    height: 280px;
    background-color: rgb(0,16,49);
    border-radius: 60% 40% 20% 80% / 54% 80% 20% 46%;
    border-radius: 60% 50% 30% 80% / 55% 80% 30% 60%; // первый
    border-radius: 60% 50% 30% 80% / 55% 80% 30% 60%;//  второй
    transform: rotate(-170deg); 
} */

.jet_container {
    display:flex;
    justify-content: center;
    align-items: center;
}
.jet_j {
    position: absolute;
    top: 210px;
    left: 180px;
    transform: scale(250%);
}

.jet_j_first {
    width:6px;
    height: 5px;
    position: relative;
    top: 5px;
    left: 0px;
    border-top: 3px solid white;
}
.jet_j_second {
    width: 3px;
    height: 3px;
    position: relative;
    top: 0px;
    left: 0px;
    border-right: 3px solid white;

}
.jet_j_third {
    width: 3px;
    height: 10px;
    position: relative;
    top: 0px;
    left: -px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 0 0 5px 0;
}

.jet_e {
    position: absolute;
    transform:scale(190%);
    top: 218px;
    left: 176px;
}

.jet_e_first {
width: 6px;
height: 5px;
position: relative;
top: 10px;
left: 20px;
border-top: 3px solid white;
border-right: 3px solid white;
border-bottom: 3px solid white;
border-radius: 0 20px 0 0;
}

.jet_e_second {
    width: 6px;
    height: 11px;
    position: relative;
    top: -1px;
    left: 12px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 20px 0 0 20px;
}

.jet_e_third {
    width: 13px;
    height: 6px;
    position: relative;
    top: -10px;
    left: 19px;
    border-bottom:3px solid white;
    
}

.jet_t {
    position: absolute;
    transform:scale(200%);
    top: 215px;
    left: 240px;
}

.jet_t_first {
    width: 6px;
    height: 20px;
    position: relative;
    top: 14px;
    left: -3px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 0 0 0 4px;
}

.jet_t_second {
    width: 6px;
    height: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    border-top: 3px solid white;
    
}



.lines_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.line_first {
    width: 36px;
    height: 20px;
    position: relative;
    border-top: 3px solid white;
    top:0;
    left:0;
}
.line_second {
    width: 36px;
    height: 20px;
    position: relative;
    border-top: 3px solid yellow;
    top:10px;
    left:0;
}
.line_third {
    width: 36px;
    height: 20px;
    position: relative;
    border-top: 3px solid grey;
    top:20px;
    left:-10px;
}